extends layout

block content
  h1= title
  p Welcome to #{title}
  p Welcome to my project
  // Gallery

  //reference from https://getbootstrap.com/docs/4.0/components/card/
  //reference from https://www.youtube.com/watch?v=nWzgXjrVNrI  
  .container
    .row
        .col-12
        .card-columns
            each image in imageList
                .card
                    a(href='/image', data-toggle='modal', data-target='#popupImage')
                        img.card-img-top(src=image.urls.regular, alt=image.description)


  //- 
    .container
      .row
          .col-12y
          .card-columns
              .card
                  a(href='/image', data-toggle='modal', data-target='#popupImage')
                    img.card-img-top(src='/images/image/keith-tanner-o3f7ns-TU3Q-unsplash.jpg', alt="Image")
              .card
                  a(href='/image', data-toggle='modal', data-target='#popupImage')
                    img.card-img-top(src='/images/image/gaspar-zaldo-gUUCt0CTWmQ-unsplash.jpg', alt="Image")
              .card
                  a(href='/image', data-toggle='modal', data-target='#popupImage')
                    img.card-img-top(src='/images/image/ehimetalor-akhere-unuabona-TCEbRDXqv5M-unsplash.jpg', alt="Image")
              .card
                  a(href='/image', data-toggle='modal', data-target='#popupImage')
                    img.card-img-top(src='/images/image/aydin-hassan-ZAZWq2HN9dk-unsplash.jpg', alt="Image")
              .card
                  a(href='/image', data-toggle='modal', data-target='#popupImage')
                    img.card-img-top(src='/images/image/peter-herrmann-Pih3VZdHSwI-unsplash.jpg', alt="Image")
              .card
                  a(href='/image', data-toggle='modal', data-target='#popupImage')
                    img.card-img-top(src='/images/image/kristaps-ungurs-CAXt2XD2XbI-unsplash.jpg', alt="Image")*/


  //-
    .row
      .col-lg-4.col-md-12.mb-4.mb-lg-0
        a(href=)


    .col-lg-4.col-md-12.mb-4.mb-lg-0
      a(href='#', data-toggle='modal', data-target='#popupImage')
        img.w-100.shadow-1-strong.rounded.mb-4(src='/images/image/keith-tanner-o3f7ns-TU3Q-unsplash.jpg', alt='Boat on Calm Water')


      img.w-100.shadow-1-strong.rounded.mb-4(src='/images/image/gaspar-zaldo-gUUCt0CTWmQ-unsplash.jpg', alt='Wintry Mountain Landscape')
    .col-lg-4.col-md-12.mb-4.mb-lg-0
      img.w-100.shadow-1-strong.rounded.mb-4(src='/images/image/ehimetalor-akhere-unuabona-TCEbRDXqv5M-unsplash.jpg', alt='Mountains in the Clouds')

      img.w-100.shadow-1-strong.rounded.mb-4(src='/images/image/aydin-hassan-ZAZWq2HN9dk-unsplash.jpg', alt='Boat on Calm Water')
    .col-lg-4.col-md-12.mb-4.mb-lg-0
      img.w-100.shadow-1-strong.rounded.mb-4(src='/images/image/peter-herrmann-Pih3VZdHSwI-unsplash.jpg', alt='Waves at Sea')

      img.w-100.shadow-1-strong.rounded.mb-4(src='/images/image/kristaps-ungurs-CAXt2XD2XbI-unsplash.jpg', alt='Yosemite National Park') 

  // Button trigger modal
  //button.btn.btn-primary(type='button', data-toggle='modal', data-target='#popupImage')
    | Launch demo modal
  // - pop up window
  #popupImage.modal.fade(role='dialog', aria-labelledby='modalLabel', aria-hidden='true', tabindex="-1")
    .modal-dialog.modal-xl(role='document')
      .modal-content
        .modal-header
          h5#modalLabel.modal-title #{imageList[8].description}
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          img.w-100.shadow-1-strong.rounded.mb-4.img-fluid(src=imageList[8].urls.regular, alt='Wintry Mountain Landscape', style='object-fit')
        .modal-footer
          .container-fluid
            .row
              .col-md-4 
                p Make #{imageList[8].exif.make}
                p Model #{imageList[8].exif.model}
                p Name #{imageList[8].exif.name}
                p Exposure Time #{imageList[8].exif.exposure_time}
                p Aperture #{imageList[8].exif.aperture}
                p Focal Length #{imageList[8].exif.focal_length}
                p Iso #{imageList[8].exif.iso}
              .col-md-4
              .col-md-4.ml-auto
                button.btn.btn-secondary.float-right(type='button')
                  svg.bi.bi-heart-fill(xmlns='http://www.w3.org/2000/svg', width='16', height='16', fill='currentColor', viewbox='0 0 16 16')
                    path(fill-rule='evenodd', d='M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z')


            //i.fa.fa-heart-o


          





    

      
