extends layout

block content
  h1= title
  p Welcome to #{title}
  p Welcome to my project
  // Gallery

  //reference from https://getbootstrap.com/docs/4.0/components/card/
  //reference from https://www.youtube.com/watch?v=nWzgXjrVNrI  
  .container
    .row
        .col-12
        .card-columns
            each image in imageList
                .card
                    a.popUpImageLink(href='/image', data-toggle='modal', data-target='#popupImage')
                        img.card-img-top(src=image.urls.regular, alt=image.description)

  // Button trigger modal
  //button.btn.btn-primary(type='button', data-toggle='modal', data-target='#popupImage')
    | Launch demo modal
  // - pop up window
  #popupImage.modal.fade(role='dialog', aria-labelledby='modalLabel', aria-hidden='true', tabindex="-1")
    .modal-dialog.modal-xl(role='document')
      .modal-content
        .modal-header
          h5#modalLabel.modal-title #{imageList[8].description}
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          img#modalImage.w-100.shadow-1-strong.rounded.mb-4.img-fluid(src=imageList[8].urls.regular, alt='Wintry Mountain Landscape', style='object-fit')
        .modal-footer
          .container-fluid
            .row
              #metaData.col-md-4 
                //p#make Make 
                //p#model Model 
                //p#name Name 
                //p#exposure Exposure Time 
                //p#aperture Aperture 
                //p#focal Focal Length 
                //p#iso Iso 

              .col-md-4
              .col-md-4.ml-auto
                button.btn.btn-secondary.float-right(type='button')
                  svg.bi.bi-heart-fill(xmlns='http://www.w3.org/2000/svg', width='16', height='16', fill='currentColor', viewbox='0 0 16 16')
                    path(fill-rule='evenodd', d='M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z')


            //i.fa.fa-heart-o
  script.
        var imageList = !{imageListStringy};
        var popUps = document.getElementsByClassName('popUpImageLink')

        for (var i= 0 ; i < popUps.length; i++){
            //set image index to each link
            popUps[i].setAttribute('image-index',i);
            popUps[i].addEventListener('click',popUpClicked);
        }
        function popUpClicked(event){
            var image = event.currentTarget;
            var index = image.getAttribute('image-index');

            var popUpImageTitle = document.getElementById('modalLabel');
            var popUpImageSource = document.getElementById('modalImage');
            var popUpImageMetaData = document.getElementById('metaData');
            
            
            popUpImageTitle.innerHTML = imageList[index].description;
            popUpImageSource.src = imageList[index].urls.regular;
            popUpImageSource.alt = imageList[index].alt_description;
           
        }



    


          





    

      
